name: Bump aur packages' pkgver
on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
jobs:
  ruffle-nightly:
    name: Bump aur/ruffle-nightly
    runs-on: ubuntu-latest
    steps:
      - name: Check if tag exists
        id: check-tag
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          {
            date="$(date -u +%F)"
            echo date=$date
            echo "tag=$(gh release --repo ruffle-rs/ruffle list \
                          --json tagName \
                          --jq ".[] | select(.tagName == \"nightly-$date\") | .tagName" \
                          --exclude-drafts \
                          --limit 1)"
            # gh will not print a newline if nothing found...
          } >> "$GITHUB_OUTPUT"
      - name: Setup SSH
        if: steps.check-tag.outputs.tag
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
      - name: Setup Git
        if: steps.check-tag.outputs.tag
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
      - name: Setup known_hosts
        if: steps.check-tag.outputs.tag
        run: |
          mkdir -m 600 -p ~/.ssh
          ssh-keyscan aur.archlinux.org | tee -a ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts
      - name: Checkout
        if: steps.check-tag.outputs.tag
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github/actions
            patches/ruffle-nightly
      - name: Build makepkg
        id: build-makepkg
        if: steps.check-tag.outputs.tag
        uses: ./.github/actions/build-makepkg
        with:
          platforms: linux/amd64
      - name: Setup makepkg
        if: steps.build-makepkg.outputs.image-path
        uses: ./.github/actions/setup-makepkg
        with:
          image-path: ${{ steps.build-makepkg.outputs.image-path }}
      - name: Clone AUR repository
        if: steps.check-tag.outputs.tag
        run: |
          git clone ssh://aur@aur.archlinux.org/ruffle-nightly.git
      - name: Checkout ruffle
        if: steps.check-tag.outputs.tag
        uses: actions/checkout@v6
        with:
          repository: ruffle-rs/ruffle
          path: ruffle
          fetch-tags: true
          fetch-depth: 0
      - name: Get current state
        id: current-state
        if: steps.check-tag.outputs.tag
        run: |
          source ruffle-nightly/PKGBUILD
          echo "date=$_date" >> "$GITHUB_OUTPUT"
          echo "repo-sha256=${sha256sums[0]}" >> "$GITHUB_OUTPUT"
      - name: Get target sha256
        # /usr/share/makepkg/source/git.sh
        id: target-sha256
        if: steps.check-tag.outputs.tag
        env:
          GIT_CONFIG_GLOBAL: /dev/null
          GIT_CONFIG_SYSTEM: /dev/null
        run: |
          echo -n sha256= >> "$GITHUB_OUTPUT"
          git -c core.abbrev=no -C ruffle \
            archive --format tar "${{ steps.check-tag.outputs.tag }}" | \
          sha256sum | cut -d " " -f 1 >> "$GITHUB_OUTPUT"
      - name: Update pkgver
        id: update-pkgver
        if: steps.check-tag.outputs.tag
        run: |
          current_date="${{ steps.current-state.outputs.date }}"
          target_date="${{ steps.check-tag.outputs.date }}"
          current_sha256="${{ steps.current-state.outputs.repo-sha256 }}"
          target_sha256="${{ steps.target-sha256.outputs.sha256 }}"
          sed -i "s/_date=$current_date/_date=$target_date/;s/$current_sha256/$target_sha256/" \
            ruffle-nightly/PKGBUILD
          if git -C ruffle-nightly --no-pager diff --exit-code PKGBUILD
          then
            echo "PKGBUILD is not updated."
            echo "updated=false" >> "$GITHUB_OUTPUT"
          else
            echo "Updated PKGBUILD."
            echo "updated=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Update .SRCINFO
        id: update-srcinfo
        if: steps.update-pkgver.outputs.updated == 'true'
        uses: ./.github/actions/execute-makepkg
        with:
          where: ruffle-nightly
          args: --printsrcinfo
      - name: Copy updated .SRCINFO
        if: steps.update-srcinfo.outputs.stdout-path
        run: |
          cp '${{ steps.update-srcinfo.outputs.stdout-path }}' ruffle-nightly/.SRCINFO
          git -C ruffle-nightly --no-pager diff .SRCINFO
      - name: Commit change
        if: steps.update-pkgver.outputs.updated == 'true'
        run: |
          git -C ruffle-nightly commit --all -m "Bump to ${{ steps.check-tag.outputs.date }}"
      - name: Patch source
        if: steps.update-pkgver.outputs.updated == 'true'
        uses: ./.github/actions/apply-patches
        with:
          where: ruffle-nightly
          pkgbase: ruffle-nightly
      - name: Free space
        if: steps.update-pkgver.outputs.updated == 'true'
        uses: ./.github/actions/clean-runner
      - name: Try build
        if: steps.update-pkgver.outputs.updated == 'true'
        uses: ./.github/actions/execute-makepkg
        with:
          where: ruffle-nightly
      - name: Push to AUR
        if: steps.update-pkgver.outputs.updated == 'true'
        run: |
          git -C ruffle-nightly push
